//@media (min-width: 1100px) {
//    
//}
//
//@media (max-width: 1100px) and (min-width: 1000px {
//    
//}
//
//@media (max-width: 1000px) and (min-width: 800px) {
//    
//}
//
//@media(min-width: 768px) {
//#contact .contact-section .wrapper {
//    margin: 0 auto;
//    flex-direction: column;
//    display: flex;
//}
//
//
//@media(min-width: 768px) {
//    .col-sm-10 {
//        width: 50%;
//        float: left;
//    }
//}
//
//
//
//#contact-page {
//    margin: 0;
//    o
//@media (min-width: 768px){
//    .col-sm-10{
//    width: 50%;
//    float: left;
//    }
//}
//
//.col-xs-20 {
//    width: 100%;
//}
//
//.col-sm-10{
//    position: relative;
//    
//}
//
//.row{
//    display: flex;
//}
//
//.contact{
//    margin: 0 auto;
//    text-align: center;
//}
//
//.col-md-8{
//    margin: 0 auto;
//}