//.navbar-brand {
//	font-family: 'Pacifico', cursive;
//	color: #094209;
//	font-size: 30px;
//	padding-left: 50px;
//	top: 30px;
//}
#mainNav {
  padding: 1% 0 1%;
  width: 100%;
  z-index: 3;
  background-color: #eaeaea; //	background-color: $gray-900;
  //}
  .navbar-brand {
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 3;
    color: #094209;
    font-family: "Pacifico", cursive;
    font-size: 30px;
    margin: 10px 0 10px;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: (green 10%);
    }
  }

  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #094209;
    border: 0;
    background-color: grey;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; //		overflow: hidden; //	@include heading-font;
  }
  .navbar-brand {
    //		color: $primary;
    //	@include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: lightgreen; //			color: darken($primary, 10%);
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        margin: 12px;
        font-size: 150%;
        text-transform: uppercase;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: green;
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial,
          sans-serif; //
        //					@include heading-font;
        &.active,
        &:hover {
          color: green; //					color: $primary;
        }
      }
    }
  }

  @media (min-width: 992px) {
    #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent;
      .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
      }
      .navbar-nav {
        .nav-item {
          .nav-link {
            padding: 1.1em 1em !important;
          }
        }
      }

      &.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #eaeaea; //				background-color: $gray-900;
        .navbar-brand {
          font-size: 1.25em;
          padding: 12px 0;
        }
      }
    }
  }
}
