#socials {
  width: 100%;
  text-align: center;
  background-color: #292929;
}

.content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 10px;
}

.socialdivs {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}

.fb {
  width: 250px;
  height: 155px;
  float: left;
  border-bottom-right-radius: 120px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  background-color: #292929;
}
.fb i {
  color: rgba(104, 104, 104, 0.98);
}

.fb:hover {
  background-color: #4668b3;
}

.yt {
  width: 250px;
  height: 155px;
  float: left;
  border-bottom-left-radius: 120px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  background-color: #292929;
}

.yt i {
  color: rgba(104, 104, 104, 0.98);
}

.yt:hover {
  background-color: #d94348;
}

.tw {
  width: 250px;
  height: 155px;
  float: left;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
  border-top-left-radius: 120px;
  background-color: #292929;
}
.tw i {
  color: rgba(104, 104, 104, 0.98);
}

.tw:hover {
  background-color: #3095d3;
}

.gplus {
  width: 250px;
  height: 155px;
  float: left;
  border-bottom-left-radius: 120px;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  background-color: #292929;
}

.gplus i {
  color: rgba(104, 104, 104, 0.98);
}

.gplus:hover {
  background-color: rgba(175, 215, 127, 0.8);
  background-color: #d95333;
}

.footer h5 {
  color: rgba(104, 104, 104, 0.98);
}

@font-face {
  font-family: "fontello";
  src: url("../font/fontello.eot?45889929");
  src: url("../font/fontello.eot?45889929#iefix") format("embedded-opentype"),
    url("../font/fontello.woff2?45889929") format("woff2"),
    url("../font/fontello.woff?45889929") format("woff"),
    url("../font/fontello.ttf?45889929") format("truetype"),
    url("../font/fontello.svg?45889929#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-twitter:before {
  content: "\f099";
  font-size: 72px;
  margin-top: 40px;
}

/* '' */

.icon-gplus-squared:before {
  content: "\f0d4";
  font-size: 72px;
  margin-top: 40px;
}

/* '' */

.icon-youtube-squared:before {
  content: "\f166";
  font-size: 72px;
  margin-top: 40px;
}

/* '' */

.icon-facebook-official:before {
  content: "\f230";
  font-size: 72px;
  margin-top: 40px;
}

/* '' */

.footer {
  text-align: center;
  background-color: #222222;
  padding: 30px;
}

#services {
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer {
  width: 100%;
}

@media (min-width: 1100px) {
}

@media (max-width: 1100px) and (min-width: 1000px) {
  .socialdivs {
    margin-right: auto;
    margin-left: auto;
    width: 900px;
  }

  #socials .socialdivs .media {
    width: 100%;
  }

  .icon-twitter:before {
    content: "\f099";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-gplus-squared:before {
    content: "\f0d4";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-youtube-squared:before {
    content: "\f166";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-facebook-official:before {
    content: "\f230";
    font-size: 52px;
    margin-top: 30px;
  }
}

@media (max-width: 1000px) and (min-width: 800px) {
  .socialdivs {
    margin-right: auto;
    margin-left: auto;
    width: 800px;
  }

  #socials .socialdivs {
    .media {
      width: 70%;
      margin: 0 0 0 120px;
    }
  }

  .icon-twitter:before {
    content: "\f099";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-gplus-squared:before {
    content: "\f0d4";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-youtube-squared:before {
    content: "\f166";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-facebook-official:before {
    content: "\f230";
    font-size: 52px;
    margin-top: 30px;
  }
}

@media (max-width: 800px) and (min-width: 500px) {
  .socialdivs {
    width: 700px;
  }

  #socials .socialdivs .media {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .icon-twitter:before {
    content: "\f099";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-gplus-squared:before {
    content: "\f0d4";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-youtube-squared:before {
    content: "\f166";
    font-size: 52px;
    margin-top: 30px;
  }

  /* '' */
  .icon-facebook-official:before {
    content: "\f230";
    font-size: 52px;
    margin-top: 30px;
  }
}
@media (max-width: 500px) {
  .socialdivs {
    margin-right: auto;
    margin-left: auto;
    width: 400px;
  }
  #socials .socialdivs .media {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .socialdivs .yt {
    margin: 0 auto;
    height: 70px;
    width: 60px;
    display: block;
  }
  .socialdivs .tw {
    margin: 0 auto;
    height: 70px;
    width: 60px;
    display: block;
  }

  .socialdivs .gplus {
    margin: 0 auto;
    height: 70px;
    width: 60px;
    display: block;
  }

  .socialdivs .fb {
    margin: 0 auto;
    height: 70px;
    width: 60px;
    display: block;
  }

  .icon-twitter:before {
    content: "\f099";
    font-size: 42px;
    margin-top: 10px;
  }

  /* '' */
  .icon-gplus-squared:before {
    content: "\f0d4";
    font-size: 42px;
    margin-top: 10px;
  }

  /* '' */
  .icon-youtube-squared:before {
    content: "\f166";
    font-size: 42px;
    margin-top: 10px;
  }

  /* '' */
  .icon-facebook-official:before {
    content: "\f230";
    font-size: 42px;
    margin-top: 10px;
  }
}
