#team {
  .container {
    .row {
      .col-lg-12 {
        h2 {
          font-size: 40px;
          margin-bottom: 30px;
        }
      }
    }
    .col-md-4 {
      .card {
        .card-block {
          h4 {
            font-size: 19px;
          }
          p {
            font-size: 19px;
            width: 100%;
          }
        }
      }
    }
  }
}

#team .container .row .description h4 {
  padding: 60px;
  margin: 10px;
  font-size: 21px;
}
