@charset "UTF-8";
#portfolio .container .row .col-lg-12 h2 {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 20px; }
#portfolio .container .row .col-lg-12 h3 {
  font-size: 18px;
  margin-bottom: 40px; }
#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: inline-block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; }
    #portfolio .portfolio-item .portfolio-link .portfolio-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background: rgba(255, 255, 255, 0.9); }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
        color: darkgreen;
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: darkgreen; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #FFFFFF; }
    #portfolio .portfolio-item .portfolio-caption h4 {
      margin: 0;
      text-transform: none;
      font-size: 19px; }
    #portfolio .portfolio-item .portfolio-caption p {
      font-size: 16px;
      font-style: italic;
      margin: 0; }
#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }
.portfolio-modal {
  padding-right: 0px !important; }
  .portfolio-modal .modal-dialog {
    margin: 1rem;
    max-width: 100vw; }
  .portfolio-modal .modal-content {
    padding: 100px 0;
    text-align: center; }
    .portfolio-modal .modal-content h2 {
      font-size: 3em;
      margin-bottom: 15px; }
    .portfolio-modal .modal-content p {
      margin-bottom: 30px; }
    .portfolio-modal .modal-content p.item-intro {
      font-size: 16px;
      font-style: italic;
      margin: 20px 0 30px; }
    .portfolio-modal .modal-content ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px; }
    .portfolio-modal .modal-content img {
      margin-bottom: 30px; }
    .portfolio-modal .modal-content button {
      cursor: pointer; }
  .portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent; }
    .portfolio-modal .close-modal:hover {
      background-color: darkgreen;
      opacity: 0.3; }
    .portfolio-modal .close-modal .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
      .portfolio-modal .close-modal .lr .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }

#mainNav {
  padding: 1% 0 1%;
  width: 100%;
  z-index: 3;
  background-color: #eaeaea; }
  #mainNav .navbar-brand {
    padding: 10px 0 10px 0;
    width: 100%;
    z-index: 3;
    color: #094209;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin: 10px 0 10px; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: green 10%; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #094209;
    border: 0;
    background-color: grey;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: lightgreen; }
  #mainNav .navbar-nav .nav-item .nav-link {
    margin: 12px;
    font-size: 150%;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: green;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color: green; }
  @media (min-width: 992px) {
    #mainNav #mainNav {
      padding-top: 25px;
      padding-bottom: 25px;
      -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
      -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
      transition: padding-top 0.3s, padding-bottom 0.3s;
      border: none;
      background-color: transparent; }
      #mainNav #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s; }
      #mainNav #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important; }
      #mainNav #mainNav.navbar-shrink {
        padding-top: 0;
        padding-bottom: 0;
        background-color: #eaeaea; }
        #mainNav #mainNav.navbar-shrink .navbar-brand {
          font-size: 1.25em;
          padding: 12px 0; } }

.socials {
  width: 100%;
  text-align: center;
  background-color: #292929; }

.content {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding-top: 10px; }

.socialdivs {
  margin-right: auto;
  margin-left: auto;
  width: 1000px; }

.fb {
  width: 250px;
  height: 155px;
  float: left; }

.fb:hover {
  background-color: #4668b3; }

.yt {
  width: 250px;
  height: 155px;
  float: left; }

.yt:hover {
  background-color: #d94348; }

.tw {
  width: 250px;
  height: 155px;
  float: left; }

.tw:hover {
  background-color: #3095d3; }

.gplus {
  width: 250px;
  height: 155px;
  float: left; }

.gplus:hover {
  background-color: #d95333; }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?45889929");
  src: url("../font/fontello.eot?45889929#iefix") format("embedded-opentype"), url("../font/fontello.woff2?45889929") format("woff2"), url("../font/fontello.woff?45889929") format("woff"), url("../font/fontello.ttf?45889929") format("truetype"), url("../font/fontello.svg?45889929#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-twitter:before {
  content: '\f099';
  font-size: 72px;
  margin-top: 40px; }

/* '' */
.icon-gplus-squared:before {
  content: '\f0d4';
  font-size: 72px;
  margin-top: 40px; }

/* '' */
.icon-youtube-squared:before {
  content: '\f166';
  font-size: 72px;
  margin-top: 40px; }

/* '' */
.icon-facebook-official:before {
  content: '\f230';
  font-size: 72px;
  margin-top: 40px; }

/* '' */
.footer {
  text-align: center;
  background-color: #222222;
  padding: 30px; }

#services {
  margin-top: 80px;
  margin-bottom: 80px; }

#services .container .row .col-lg-12 h2 {
  font-size: 40px;
  margin-bottom: 20px; }
#services .container .col-md-4 .card .card-block h4 {
  font-size: 19px; }
#services .container .col-md-4 .card .card-block p {
  font-size: 16px; }
#services .container .description h3 {
  font-size: 17px;
  padding: 20px;
  margin: 10px; }

#container-top {
  background-color: rgba(175, 215, 127, 0.8); }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px; }

.timeline > li {
  margin-bottom: 20px;
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 50%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background-color: white; }

.timeline > li.timeline-inverted + li:not(.timeline-inverted),
.timeline > li:not(.timeline-inverted) + li.timeline-inverted {
  margin-top: -60px; }

.timeline > li:not(.timeline-inverted) {
  padding-right: 90px; }

.timeline > li.timeline-inverted {
  padding-left: 90px; }

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " "; }

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " "; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  background-color: white; }

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto; }

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto; }

.timeline-badge.primary {
  background-color: #2e6da4 !important; }

.timeline-badge.success {
  background-color: #3f903f !important; }

.timeline-badge.warning {
  background-color: #f0ad4e !important; }

.timeline-badge.danger {
  background-color: #d9534f !important; }

.timeline-badge.info {
  background-color: #5bc0de !important; }

.timeline-title {
  margin-top: 0;
  color: inherit; }

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0; }

.timeline-body > p + p {
  margin-top: 5px; }

/*# sourceMappingURL=style.css.map */
