/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss../css/style.css

Backtrace:
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:454:in `read'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `each'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin/compiler.rb:294:in `watch'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/plugin.rb:109:in `method_missing'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:360:in `watch_or_update'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/sass_scss.rb:51:in `process_result'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/base.rb:52:in `parse'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/lib/sass/exec/base.rb:19:in `parse!'
/home/anna/.rvm/gems/ruby-2.5.0/gems/sass-3.5.6/bin/sass:13:in `<top (required)>'
/home/anna/.rvm/gems/ruby-2.5.0/bin/sass:23:in `load'
/home/anna/.rvm/gems/ruby-2.5.0/bin/sass:23:in `<main>'
/home/anna/.rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `eval'
/home/anna/.rvm/gems/ruby-2.5.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss../css/style.css"; }
